
<div class="modal-backdrop fade in model-left-show"></div>
<div class="leftSize" id="leftSize" align="left">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group table-responsive" role="tablist">
                <div class="panel panel-primary leftMenu">
                    <!-- 利用data-target指定要折叠的分组列表 -->
                    <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
                        <h4 class="panel-title">
                            <img class="img-left" src="/img/45.png">
                            货源中心
                            <img class="leftImg" src="/img/132.png">
                        </h4>
                    </div>
                    <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
                    <div id="collapseListGroup1" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                        <ul class="list-group">
                            <a href="" class="list-group-item leftHeight">
                                发布货源
                            </a>
                            <a href="" class="list-group-item leftHeight">
                                货源模板
                            </a>
                            <a href="" class="list-group-item leftHeight">
                                我的货源
                            </a>
                        </ul>
                    </div>
                </div><!--panel end-->
            </div>
        </div>
    </div>
</div>

<div class="left-show">
    <img src="/img/left-show.png" onclick="showLeft()">
</div>