<div class="main-content clearfix">
    <div class="crumbs-nav-wrap">
        <div class="crumbs-nav clearfix">
            <a class="fl" href="#">首页</a>
            <span class="fl">&gt;</span>
            <a class="fl" href="#">写日记</a>
        </div>
    </div>

    <div id="banner" class="banner-wrap clearfix">
        <div class="banner-left fl">
            <textarea id="diary-text" placeholder="请在这里记录你的文字"></textarea>
            <div class="diary-img" align="center">
                <img id="upload-img" src="/img/mydiary-5.jpg">
                <button>上传图片</button>
                <input type="file" id="file" name="file">

                <button onclick="submitDiary()">提交日记</button>
            </div>
        </div>
        <div class="banner-right fr">
            <p class="banner-right-text">
                人永远是要学习的。死的时候，才是毕业的时候。 — 萧楚女
            </p>
        </div>
    </div>
</div>

